<h1> WORKING</h1>

<div class='container'>


<div id="map"></div>



<div class='pull-right'>
<% if current_user.id == @owner_of_item.user_id && @verify.owner == true %>
<button disabled="true" class="btn btn-primary btn-large">"Waiting Borrow to verify"</button>
<% elsif  current_user.id != @owner_of_item.user_id && @verify.borrower == true %>
<button disabled="true" class="btn btn-primary btn-large">"Waiting Lender to verify"</button>
<% else %>
<%= link_to "#{@status_text}", item_checkout_verification_path(@owner_of_item.id, @verify.checkout_id, @verify.id), method: :put, class: "btn btn-primary btn-large" %>
<% end %>
</div>
</div>
