<div class="container">
  <h2> Items Lent:</h2>
  <% if @lent.empty? %>
  <em>Currently nothing is Lent out</em>
  <% else %>
  <div class="row">
    <% @lent.each do | item | %>
      <div class="col-md-6 border">
        <strong>Name: </strong> <%= Item.find(item.item_id).name %>
        <strong>lent to: </strong> <%= User.find(item.user_id).first_name %> <%= User.find(item.user_id).last_name %>
        <strong>Time Left: </strong> ...
        <%= link_to 'show', item_checkout_verification_path(Item.find(item.item_id),item.id,Verification.verify_show_pickup(item.id)) %>
      </div>
    <% end %>
      </div>
    <% end %>

</div>
