<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h3 class="image-text">Looking for tools to fix your lawnmower?</h3>
      <h4>We can help.</h4>
    </div>
  </div>
</div>

<div class="container context-container" id="colored-bg">
  <h3 class="subheader-main">Recommended Categories</h3>
  <div class="container recommended-container">
    <button class="btn btn-default"><%= link_to "Search for More", items_path %></button>
  </div>
</div>
