<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h3 class="image-text">Looking for tools to fix your lawnmower?</h3>
      <h4>We can help.</h4>
    </div>
  </div>
</div>

<div class="container context-container" id="colored-bg">
  <h3 class="subheader-main recommend">Recommended Categories</h3>
  <div class="container recommended-container">
    <button class="btn btn-default"><%= link_to "Search for More", items_path %></button>
  </div>
</div>

<div class="container">
  <h3 class="subheader-main about-us">About Us</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum eros at lobortis rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc malesuada mollis quam at imperdiet. Curabitur id felis a mauris viverra dignissim vel non odio. Curabitur fermentum orci sed felis facilisis, id laoreet lacus imperdiet. Proin ac sapien et sapien luctus consectetur facilisis molestie urna. Praesent porta, nunc sagittis elementum mattis, erat sapien consequat lectus, vitae finibus felis ligula ut quam. Proin pulvinar ut sem sed vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
</div>
