<div id="fullpage">

	<div class="section active" id="section1">

		<div class="slide" id="slider3">
			<div class="slide3-text cover-slider">
        <h1 class ="slider-header">Looking for something to borrow?</h1>
        <h2 class = "slider-description">We have what you need.</h2>
        <a class = "slider-box-link">search</a>
			</div>
		</div>

    <div class="slide" id="slider1">
			<div class="slide1-text cover-slider">
        <h1 class ="slider-header">Make connections.</h1>
        <h2 class = "slider-description">Meet lendr users with common interests.</h2>
        <a class = "slider-box-link">join now</a>
			</div>
		</div>

    <div class="slide" id="slider2">
			<div class="slide2-text cover-slider">
        <h1 class ="slider-header">significant objects</h1>
        <h2 class = "slider-description">items with stories of<br>where they have been</h2>
        <a class = "slider-box-link">be part of something significant</a>
			</div>
		</div>
  </div>

	<div class="section" id="section2">
		<div class="intro">
			<h1>Timeline of Item Background</h1>
      <p>Every item has its own history. We want to hear all about it. Add your objects to our library to create your story or borrow items to add thir story.</p>
		</div>
	</div>

	<div class="section" id="section3">
		<div class="intro">
			<h1>Chat with Current Peers</h1>
			<p>

			</p>
		</div>
		<img src="imgs/tablets.png" alt="tablets" />
	</div>

</div>
