<div class='container'>
<h1>Edit <%= link_to @item.name, @item %></h1>

<%= render 'form', item: @item %>
<br/><hr><h4> Photos </h4>
<div class='row itemLine'>
  <div class='col-md-12'>
  <% @item.pictures.each do |picture| %>
    <div class='col-md-3'>
      <%= image_tag picture.image.url(:medium) %>
      <br/>
      <%= link_to 'Delete', item_picture_path(@item, picture.id), method: :delete %>
    </div>
  <% end %>
  </div>
</div>
</div>
