<h1>Item Search</h1>


<button id="searchBtn">Search</button>
<input id="searchTextField" type="text" name="searchTxt">


<div id="searchSec">
  <ul id="searchList">
    <section id="allItems">
    <h2>All Items</h2>
    <% @items.each do |item| %>
    <div class='border container-fluid'>
      <div class = "item_image floatl"><%= image_tag item.image.url %></div>
      <div class = "item-info">
        <%= link_to item.name, item_path(item) %>
        <br>Owner: <%= item.user_id %>
      </div>
    </div>
      <br>
    <% end %>
    </section>
  </ul>
</div>
