// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-image{
  text-align: center;
}

#profile-image img{
  width: 300px;
}

.name{
  font-weight: bold;
  font-size: 25px;
}

#user-profile-info{
  overflow: auto;
  display: flex;
  line-height: 33px;
  font-size: 18px;
}

#profile-description{
  padding-top: 50px;
  text-align: left;
}

@media (min-width:330px){
  #user-profile-info{
    display: flex;
  }

  #profile-image{
    display: inline-block;
    flex: 1;
  }

  #profile-description{
    display: inline-block;
    flex: 1;
  }
}

@media (min-width:768px){
}

.profile-container{
  
}
