// Place all the styles related to the verfications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#location-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.display-map{
  width: 50%;
  display: inline-block;
}

.display-info-chat{
  display: inline-block;
  width: 50%;
  padding: 15px;
}

.selected-address{
  display: inline-block;
  width: 70%;
}

.verify-pickup-button{
  display: inline-block;
  width: 30%;
}
