// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  height: 400px;
}

.video-container {
  position: relative;
  height: 600px;
}



.video-text{
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    margin-top: 20%;
  }

.video-text h3,
.video-text h4 {
  font-size: 40px;
  color: white;
}

.searchTextField {
  width:300px;
  height:40px;
}


video {
      width: 100%;
      position: absolute;
}


.containers-container {
  z-index: 100;
  position: relative;
}



.jumbotron .container {
  text-align: center;
  margin-top: 70px;
  width: 400px;
  color:white;
}

#colored-bg{
  color: white;
  background-color: orange;
}

.image-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 40px;
  letter-spacing: 1px;
}

.search-text{
  font-family: 'Montserrat', sans-serif,black;
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.subheader-main{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.jumbotron h4{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  padding: 8px;
  border: 3px solid white;
  text-align: center;
  width: 150px;
  margin: auto;
}

.about-us{
  color:orange;
}

.text-content{
  text-align: center;
  padding-bottom: 30px;
}

.recommended-categories a{
  text-decoration: none;
  color: white;
}

.recommended-categories button:hover{
  background-color: white;
  border: 3px solid white;
}

.recommended-categories button a:hover{
  color:orange;
}

.recommended-categories button{
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  border: 3px solid white;
  border-radius: 0px;
  background-color: transparent;
}

.container .jumbotron{
  border-radius: 0px;
}

.jumbotron{
  // background-image: url("library.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Text within image

.col-md-4:hover {
  opacity: .7;
}
.imgtext{
position:relative;
bottom:130px;
left:0px;
font-size: 30px;
cursor: pointer;
cursor: hand;
// visibility:hidden;
}







@media (max-width: 768px) {
  /* Small devices (tablets, 768px and up) */
  .video-container {
    position: relative;
    height: 200px;
  }

  .video-text{
      position: absolute;
      z-index: 5;
      text-align: center;
      width: 100%;
      margin-top: 4%;
  }

  .video-text h3,
  .video-text h4 {
    font-size: 20px;
    color: white;
  }
}





@media (min-width: 768px) {
  .video-container {
    position: relative;
    height: 410px;
  }

  .video-text{
      position: absolute;
      z-index: 5;
      text-align: center;
      width: 100%;
      margin-top: 14%;
  }

  .video-text h3,
  .video-text h4 {
    font-size: 30px;
    color: white;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .video-container {
    position: relative;
    height: 540px;
  }

  .video-text{
      position: absolute;
      z-index: 5;
      text-align: center;
      width: 100%;
      margin-top: 18%;
  }

  .video-text h3,
  .video-text h4 {
    font-size: 40px;
    color: white;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { background-color: yellow }

#frontTitle{
  color: white;
  font-size: 100px;
}
#frontText{
  font-family: 'Shadows Into Light Two', cursive;

}
