// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.searchTextField {
  width:300px;
  height:40px;
  border: 1px solid gray;
  margin-bottom: 28px;
}

.search-text{
  font-family: 'Montserrat', sans-serif,black;
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
}

.slider-header{
  font-size: 3em;
  color:black;
}

#slider3{
  background-image: image-url("slider3.jpg");
}

#slider1{
  background-image: image-url("slider1.jpg");
}

#slider2{
  background-image: image-url("slider2.jpg");
}

.slide3-text{
  float: right;
  margin-right: 10%;
  width: 334px;
}

.slide3-text .slider-header{
  font-weight: bold;
  font-size: 3.4em;
  line-height: 1.3em;
}

.slide3-text .slider-description{
  font-size: 2em;
  padding-top: 16px;
  padding-bottom: 48px;
}

.slide3-text a{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.slide1-text .slider-header{
  font-weight: bold;
  font-size: 3.9em;
  color: white;
}

.slide1-text .slider-description{
  font-family: 'Lato', sans-serif;
  font-size: 2.4em;
  padding-top: 16px;
  padding-bottom: 75px;
  color: white;
}

.slide1-text a{
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.slide2-text {
  margin-top: 10%;
  margin-left: 9%;
}

.slide2-text .slider-header{
  font-weight: bold;
  font-size: 3.8em;
}

.slide2-text .slider-description{
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  line-height: 1.3em;
  padding-top: 6px;
  padding-bottom: 46px;
}

.slide2-text{
  width: 400px;
}

.slide2-text a{
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  background-color: black;
  padding: 8px 15px;
}

.section{
  background-size: cover;
}

.slide{
  text-align: center;
  background-size: cover;
}

.timeline .main-feature{
  position: relative;
  overflow: hidden;
}

#timeline-road{
  display:none;
}

#timeline-road-short{
  position:static;
  margin-bottom: 10%;
  object-fit: cover;
}

#timeline-text{
  position: static;
  padding:3%;
  padding: 15px 50px 15px 50px;
}

#icon1,
#icon1-review,
#tent-icon {
  display: none;
}

// viewing section2
.fp-viewing-page2 #icon1{
  top:98px;
}

.fp-viewing-page2 #icon1-review{
  opacity: 1;
}

.fp-viewing-page2 #tent-icon{
  top:72px;
}

#icon2,
#icon2-review,
#light-bulb-icon {
  display: none;
}

// viewing section2
.fp-viewing-page2 #icon2{
  top:467px;
}

.fp-viewing-page2 #icon2-review{
  opacity: 1;
}

.fp-viewing-page2 #light-bulb-icon{
  top:443px;
}

#icon3,
#icon3-review,
#wrench-icon {
  display: none;
}

// viewing section2
.fp-viewing-page2 #icon3{
  top:467px;
}

.fp-viewing-page2 #icon3-review{
  opacity: 1;
}

.fp-viewing-page2 #wrench-icon{
  top:448px;
}

#city-landscape{
  margin-right: 12px;
  position: absolute;
  right:40px;
  bottom:60px;
  max-width:601px;
  height: auto;
}

#location-text{
  margin-right: 8%;
  position:absolute;
  left: 60px;
  top: 33%;
  width: 430px;
}

.user_profile_flip{
  position:relative;
}

#user-lines{
  margin-right: 12px;
  position: absolute;
  right:63px;
  top:137px;
  width: 537px;
  height: auto;
}

#user-icons{
  margin-right: 12px;
  position: absolute;
  right:40px;
  top:55px;
  width: 600px;
  height: auto;
}

.user1_card{
  position: absolute;
  top: 96px;
  right: 513px;
}

.user2_card{
  position: absolute;
  top: 68px;
  right: 348px;
}

.user3_card{
  position: absolute;
  top: 128px;
  right: 222px;
}

.user4_card{
  position: absolute;
  top: 102px;
  right: 69px;
}

.user5_card{
  position: absolute;
  top: 232px;
  right: 533px;
}

.user6_card{
  position: absolute;
  top: 184px;
  right: 390px;
}

.user7_card{
  position: absolute;
  top: 256px;
  right: 258px;
}

.user8_card{
  position: absolute;
  top: 234px;
  right: 103px;
}

.user1_front,
.user1_back,
.user2_front,
.user2_back,
.user3_front,
.user3_back,
.user4_front,
.user4_back,
.user5_front,
.user5_back,
.user6_front,
.user6_back,
.user7_front,
.user7_back,
.user8_front,
.user8_back {
  position: absolute;
  width: 100px;
  top: 0px;
  right: 0px;
}

.main-feature h1{
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
  margin-bottom: 25px;
}

.main-feature p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.our-team h1{
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
  text-align: center;
}


// RESPONSIVE WEB PAGES

@media (min-width: 870px){
  #timeline-road-short{
    display:none;
  }

  #timeline-road{
    display: inline-block;
    position: absolute;
    left:0px;
    top:97px;
  }

  #timeline-text {
    display: inline-block;
    padding:0px;
    position: absolute;
    left: 62%;
    top: 150px;
    width: 300px;
  }

  #icon1{
    display: inline-block;
    position:absolute;
    left:163px;
    top:-117px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 0.6s; /* Chrome, Safari, Opera */
    transition-delay: 0.6s;
  }

  #icon1-review{
    display: inline-block;
    position: absolute;
    left:139px;
    top:168px;
    opacity: 0;

    transition: all 2.5s ease-out;
    -webkit-transition: all 2.5s ease-out;

    -webkit-transition-property: opacity; /* Safari */
    transition-property: opacity;
    transition-delay: 2.8s;

    -webkit-transition-delay: 0.6s; /* Chrome, Safari, Opera */
    transition-delay: 0.6s;
  }

  #tent-icon{
    display: inline-block;
    position:absolute;
    left: 177px;
    top: -72px;
    width: 44px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 0.6s; /* Chrome, Safari, Opera */
    transition-delay: 0.6s;
  }

  #icon2{
    display: inline-block;
    position:absolute;
    left:430px;
    top:-176px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 1.5s; /* Chrome, Safari, Opera */
    transition-delay: 1.5s;
  }

  #icon2-review{
    display: inline-block;
    position:absolute;
    left:406px;
    top:537px;
    opacity: 0;

    transition: all 2.5s ease-out;
    -webkit-transition: all 2.5s ease-out;

    -webkit-transition-property: opacity; /* Safari */
    transition-property: opacity;
    transition-delay: 2.8s;

    -webkit-transition-delay: 1.5s; /* Chrome, Safari, Opera */
    transition-delay: 1.5s;
  }

  #light-bulb-icon{
    display: inline-block;
    position:absolute;
    left: 446px;
    top: -148px;
    width: 40px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 2s; /* Chrome, Safari, Opera */
    transition-delay: 2s;
  }

  #icon3{
    display: inline-block;
    position:absolute;
    left:900px;
    top:-176px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 1.8s; /* Chrome, Safari, Opera */
    transition-delay: 1.8s;
  }

  #icon3-review{
    display: inline-block;
    position:absolute;
    left:878px;
    top:537px;
    opacity: 0;

    transition: all 2.5s ease-out;
    -webkit-transition: all 2.5s ease-out;

    -webkit-transition-property: opacity; /* Safari */
    transition-property: opacity;
    transition-delay: 2.8s;

    -webkit-transition-delay: 0.6s; /* Chrome, Safari, Opera */
    transition-delay: 0.6s;
  }

  #wrench-icon{
    display: inline-block;
    position:absolute;
    left: 918px;
    top: -148px;
    width: 40px;

    transition: all 1.6s ease-out;
    -webkit-transition: all 1.6s ease-out;

    -webkit-transition-delay: 2s; /* Chrome, Safari, Opera */
    transition-delay: 2s;
  }
}

@media (min-width: 977px){
  #timeline-text {
    left: 55%;
    width: 400px;
  }
}

@media (min-width: 1070px){
  #timeline-text {
    left: 51%;
    width: 460px;
  }
}

@media (min-width: 1118px){
  #timeline-text {
    left: 51%;
    width: 484px;
  }
}

@media (min-width: 1162px){
  #timeline-text {
    width: 400px;
  }
}

@media (min-width: 1225px){
  #location-text{
    top: 33%;
    left: 60px;
    width:430px;
  }
}

@media (min-width: 1269px){
  #location-text{
    width: 500px;
  }
}

@media (min-width: 1341px){
  #location-text{
    width: 600px;
  }
}



// .user-circle{
//   position:relative;
// }
//
// .card-front{
//   position: absolute;
//   left:0;
//   top:0;
// }
//
// .user-circle .card-front{
//   -webkit-transform: rotateY(-180deg);
//          transform: rotateY(-180deg);
// }
//
// .user-circle .card-back{
//   -webkit-transform: rotateY(0);
//           transform: rotateY(0);
// }
//
// .card-back{
//   position: absolute;
//   left:0;
//   top:0;
//   -webkit-transition: -webkit-transform 0.3s;
//   transition: transform 0.3s;
//
//   -webkit-transform: rotateY(-180deg);
//   transform: rotateY(-180deg);
// }
